<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name:</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Name" ng-model="item.name">
                </div>
            </div>
            <div class="form-group">
                <label for="itemBarcodeInput" class="col-sm-2 control-label">Barcode</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Barcode" maxlength="13"
                               ng-model="item.barcode"
                               id="itemBarcodeInput">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="launchIntentForScanning($event, 'itemBarcodeInput')">
                                &nbsp;<span class="glyphicon glyphicon-barcode"></span>&nbsp;
                            </button>
                        </span>
                    </div>
                </div>
                <label for="itemManufacturerInput" class="col-sm-2 control-label">Barcode</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Manufacturer" ng-model="item.manufacturer"
                           id="itemManufacturerInput">
                </div>
            </div>

            <div class="form-group" ng-visible="item.components.length == 0">
                <label for="itemMaterialInput" class="col-sm-2 control-label">Material</label>

                <div class="col-sm-4">
                    <select class="form-control" id="itemMaterialInput" ng-model="item.materialId">
                        <option ng-repeat="material in materials" value="{{ material._id }}">
                            {{ material.description }}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-offset-1 col-md-10 text-right">
        <button class="btn btn-default" ng-click="addComponent()">
            <span class="glyphicon glyphicon-plus"></span> Add component
        </button>
        <button class="btn btn-success" ng-click="storeItem()">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save
        </button>
    </div>

    <div class="col-md-offset-1 col-md-10">
        <form class="form-inline" role="form" ng-repeat="component in item.components">
            <div class="form-group">
                <label class="sr-only" for="component_{{ $index }}_name">Name</label>
                <input type="text" class="form-control" placeholder="Name" ng-model="component.name"
                       id="component_{{ $index }}_name">
            </div>
            <div class="form-group">
                <label class="sr-only" for="component_{{ $index }}_material">Material</label>
                <select class="form-control" ng-model="component.materialId" id="component_{{ $index }}_material">
                    <option ng-repeat="material in materials" value="{{ material._id }}">
                        {{ material.description }}
                    </option>
                </select>
                <button class="btn btn-warning" ng-click="removeComponent($index)"><span
                        class="glyphicon glyphicon-minus"></span></button>
            </div>
        </form>
    </div>
</div>

