<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <h3>Name: {{ item.name }}</h3>
        <h4>Barcode: {{ item.barcode }}</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-10" ng-repeat="component in item.components">
        <h3>Component: {{ component.name }}</h3>
        <h4>Material: {{ component.materialId }}</h4>
    </div>
</div>
<div flow-init="{target: '/images/upload'}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="$file.msg = $message">

    <input type="file" flow-btn/>
    Input OR Other element as upload button
    <span class="btn btn-danger" flow-btn>Upload File</span>

    <div class="alert alert-info" flow-drop
         flow-drag-enter="style={border:'4px solid green'}" flow-drag-leave="style={}"
                                                 ng-style="style">
        Drag And Drop your file here
    </div>

    <table>
        <tr ng-repeat="file in $flow.files">
            <td>{{$index+1}}</td>
            <td>{{file.name}}</td>
            <td>{{file.msg}}</td>
        </tr>
    </table>
</div>
