
body {
    padding-top: 70px;
}

html, body, #application {
    height: 100%;
}

body > #application {
    height: auto;
    min-height: 100%;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.row-spacer {
    margin-bottom: 15px;
}

.my-green {
    color: #6db33f;
}

.my-red {
    color: #d85e54;
}

.my-gray {
    color: #666666;
}

.trash-green {
    color: #17b32b;
}

.trash-compost {
    color: #6db33f;
}

.trash-gray {
    color: #595959;
}

.trash-black {
    color: #595959;
}

.trash-yellow {
    color: #fff400;
}

.trash-brawn {
    color: #925400;
}

.show-cell {
    background-color: #6db33f;
}

.drop-image-here {
    border: 3px dashed #6db33f;
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    color: #ffffff;
    background-color: #34302d;
}
