

body { padding-top: 70px; }

.my-green {
    color: #6db33f;
}

.my-red{
    color: #d85e54;
}

.my-gray {
    color: #666666;
}


.trash-green {
    color: #17b32b;
}

.trash-compost {
    color: #6db33f;
}

.trash-gray {
    color: #595959;
}

.trash-black {
    color: #595959;
}

.trash-yellow {
    color: #fff400;
}

.trash-brawn {
    color: #925400;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    color: #ffffff;
    background-color: #34302d;
}
